<div id="blk-board">
	<!-- <img id="Image3" title="公佈欄" src="/weblink/images/newsTitle1.gif" alt="" border="0" /> -->
        <h3>公布欄</h3>
        <table id="Table1" class="table table-list" border="0">
		<tbody>
			<tr>
				<td class="date">2020/11/16 8:19:39</td>
			</tr>
			<tr>
				<td class="items" style="border-top: none;"><a onclick="window.open('http://recommend.lib.fcu.edu.tw/weblink/scripts/weblink/news.aspx?num=47&displaylang=','',copyhistory=0,top=50,left=50,width=500,height=400,scrollbars=1);" href="javascript:void(0);">薦購系統E-mail自動通知功能暫停公告</a></td>
			</tr>
			<tr>
				<td class="date">2020/3/17 16:28:33</td>
			</tr>
			<tr>
				<td class="items" style="border-top: none;"><a onclick="window.open('http://recommend.lib.fcu.edu.tw/weblink/scripts/weblink/news.aspx?num=45&displaylang=','',copyhistory=0,top=50,left=50,width=500,height=400,scrollbars=1);" href="javascript:void(0);">簡體書延遲到貨公告</a></td>
			</tr>
			<tr>
				<td class="date">2020/3/17 16:23:6</td>
			</tr>
			<tr>
				<td class="items" style="border-top: none;"><a onclick="window.open('http://recommend.lib.fcu.edu.tw/weblink/scripts/weblink/news.aspx?num=10&displaylang=','',copyhistory=0,top=50,left=50,width=500,height=400,scrollbars=1);" href="javascript:void(0);">各類資源薦購額度與作業方式一覽表</a></td>
			</tr>
		</tbody>
	</table>
        <div id="if2" name="if2" width="310" height="350">
	</div>
</div>
