<p align="center">
                    <table style="WIDTH: 100%">
                      <tbody>
                        <tr>
                          <td style="WIDTH: 25%"></td>
                          <td>
                            <span id="Label1" class="si11rb">請於下方輸入您想推薦的書名或ISBN</span></td>
                        </tr>
                      </tbody>
                    </table>
                    <span id="Label10" class="si11b">檢索值：</span>
                    <select name="DropDownList1" id="DropDownList1" onchange="ddlchoice('請於下方輸入您想推薦的%1','請於下方輸入您想推薦的書名或ISBN');">
	<option value="0">書名</option>
	<option value="1">作者</option>
	<option value="2">出版社</option>
	<option value="3">ISBN</option>

</select>
                    <input name="TextBox1" type="text" maxlength="200" id="TextBox1" onkeydown="javascript:doEnterKey('Button2');">
                    
                    <span id="Label12"><font class="si9o">(輸入檢索值後,點選[開始推薦],可幫您帶回推薦資料)</font></span><br>
                    <span style="COLOR: gray" id="psub" name="psub"></span><span id="lblIeUrl" style="DISPLAY: none">lblIeUrl</span>
                    <table style="WIDTH: 100%">
                      <tbody>
                        <tr>
                          <td style="WIDTH: 30%"></td>
                          <td>
                            <input type="submit" name="Button2" value="開始推薦" onclick="javascript:document.getElementById(&quot;txttips&quot;).innerText=&quot;查詢準備中...&quot;;if (typeof(Page_ClientValidate) == 'function') Page_ClientValidate(); " language="javascript" id="Button2">
                            <span id="Label2">或</span>
                            
<span id="hlAcce1" name="hlAcce1"><a id="UserControl3_HyperLink1" class="sty5a" onclick="javascript:subm1('utf-8');" href="javascript:void(0);">.查看本館館藏.</a>
</span>


</td>
                        </tr>
                      </tbody>
                    </table>
                  </p>
